<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>LandingPage Locate</title>
</head>

<body>

  <header class="header">

      <img src="/img/logo LP.jpg" alt="logo">

    <nav>
      <ul>
        <li class="itens">Início</li>
        <li class="itens">Unidades</li>
        <li class="itens">Sobre</li>        
      </ul>
    </nav>
  </header>

  <main class="main">

    <div class="circle"></div>

  <div class="container">
    <div class="texto">
      <h2>TEXTO 1 <br> <spam> TEXTO 2</spam></h2>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptatibus ratione itaque, aliquid eaque veritatis, repudiandae ad distinctio cupiditate, suscipit consequatur non vel numquam quasi porro quos voluptatem. Cumque, incidunt?</P>
      <a href="#">Fazer pedido</a>
    </div>
  </div>   
  </main>

</body>
</html>