<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>LandingPage Locate</title>
</head>

<body>

  <header class="header">

      <img src="/img/logo LP.jpg" alt="logo">

    <nav>
      <ul>
        <li class="itens">Início</li>
        <li class="itens">Unidades</li>
        <li class="itens">Sobre</li>        
      </ul>
    </nav>
  </header>

  <main class="main">

    <div class="circle"></div>

  <div class="container">
    <div class="texto">
      <h2><span> TEXTO </span></h2>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptatibus ratione itaque, aliquid eaque veritatis, repudiandae ad distinctio cupiditate, suscipit consequatur non vel numquam quasi porro quos voluptatem. Cumque, incidunt?</P>
      <a href="/formulario">Fazer pedido</a>
    </div>
  </div>   
  <div>
    <ul class="sociais">
      <li><a href="https://pt-br.facebook.com/" target="_blank">
        <ion-icon name="logo-facebook"></ion-icon>
      </a></li>
      <li><a href="https://www.instagram.com/sem/campaign/emailsignup/?campaign_id=13534421690&extra_1=s|c|547348930978|e|instagram%20%27|&placement=&creative=547348930978&keyword=instagram%20%27&partner_id=googlesem&extra_2=campaignid%3D13534421690%26adgroupid%3D126262409974%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-1321618851291%26loc_physical_ms%3D1001773%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=Cj0KCQjw0oyYBhDGARIsAMZEuMs-CtOpdhERHrQ3eyqTBjTtpFhnGpWYzsdEtr9OAfzHphBzGGHRy6oaAnOwEALw_wcB" target="_blank">
        <ion-icon name="logo-instagram"></ion-icon>
      </a></li>
      <li><a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoicHQifQ%3D%3D%22%7D" target="_blank">
        <ion-icon name="logo-twitter"></ion-icon>
      </a></li>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </ul>
  </div>
  </main>

</body>
</html>